* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
}

body {
  max-height: 100vh;
  background-color: #000;
}

header {
  height: 92vh;
  background-image: url(./MEDIA/bgimage.jpg);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: color-dodge;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 10rem;
  align-items: center;
  margin-top: -4rem;
}

.logo {
  max-width: 10rem;
}

#signbut {
  background-color: red;
  padding: 8px 18px;
  border-radius: 7px;
  border: 1px;
  display: flex;
  align-items: center;
  align-self: center;
}

#signbut:hover {
  background-color: #c11119;
}

#signbut a {
  color: #fff;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 600;
}

.main {
  display: flex;
  justify-content: center;
}

.area {
  display: grid;
  max-width: 80rem;
  margin-top: 9rem;
  place-items: center;
}

.area h1 {
  font-size: 3rem;
  text-align: center;
  color: #fff;
}

.area h3 {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: #fff;
  font-weight: 400;
}

.area p {
  margin-top: 1rem;
  font-size: 1.3rem;
  color: #fff;
}

.area form {
  margin-top: 1.3rem;
  text-align: center;
  display: flex;
  height: 50px;
}

#email {
  background-color: inherit;
  border-color: grey;
  border-radius: 6px;
  border-style: solid;
  width: 25.5rem;
  font-size: 1rem;
  height: 3.5rem;
}

input {
  border: none;
  color: #fff;
}

input:focus {
  outline: 2px solid white;
}

.getstarted {
  height: 3.5rem;
  background-color: red;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
  width: 12rem;
  border-radius: 5px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.getstarted:hover,
.getstarted2:hover {
  background-color: #c11119;
}

.gs {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

#crazy {
  font-size: xx-large;
  margin-bottom: 1rem;
}

hr {
  height: 0.5rem;
  background-color: rgb(61, 60, 60);
  border: none;
}

section div h3 {
  font-size: 3.2rem;
}

section div {
  font-size: 1.5rem;
  margin-top: 2rem;
}

.tv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8rem;
}

.tvtext {
  color: #fff;
}

.tvtext p {
  margin-top: 0.8rem;
}

.strangerthings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14rem;
}

div img {
  height: 28rem;
}

.sttext {
  color: #fff;
}

.sttext p {
  margin-top: 0.8rem;
}

.watcheverywhere {
  text-align: left;
  height: 47vh;
  display: grid;
  margin-left: 18rem;
  margin-top: 2.5rem;
  color: #fff;
  font-size: 2rem;
  font-weight: 3rem;
}

.watcheverywhere p {
  margin-bottom: 6rem;
}

.kids {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.kids p {
  margin-top: 0.8rem;
}

.faq {
  font-size: 3.2rem;
  text-align: center;
  margin: 2rem 0 1rem 0;
}

.faqsec {
  margin: 3rem 0;
  color: white;
  display: grid;
  max-height: 100%;
  
}
details summary {
  display: grid;
}

.faqContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 5rem 0;
}

details {
  width: 75%;
  margin: 5px;
}

details p {
  font-size: 1.7rem;
}

summary {
  font-size: 1.7rem;
  padding: 1.5rem;
  background-color: #2d2d2d;
  color: white;
  position: relative;
}

summary:hover {
  background-color: #3c3c3c;
}

summary::after {
  content: "+";
  font-size: 2.7rem;
  right: 1rem;
  position: absolute;
}

.readytext {
  font-size: 1.2rem;
  padding: 1rem;
  color: white;
  margin: 2rem 0 0 0;
}

.getstarted2 {
  background-color: red;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  width: 12rem;
  display: flex;
  margin: 0.1rem 0 0 0.5rem;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
}

#email2 {
  background-color: inherit;
  border-color: #2f2f2f;
  border-radius: 6px;
  border-style: solid;
  width: 23rem;
  font-size: 1rem;
  height: 3.5rem;
}

.act {
  display: flex;
}

#mad {
  font-size: xx-large;
}

footer {
  padding: 3rem 11rem;
  color: #afafaf;
  height: 60vh;
}

.footerr {
  margin-top: 2rem;
}

footer p {
  text-decoration: underline;
}

.footerr ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: wrap;
  gap: 1rem;
}

.footerr ul a li {
  text-align: left;
  font-size: 0.9rem;
}

a {
  color: #afafaf;
  list-style: none;
}

#eng {
  display: flex;
  align-items: center;
}

#lang {
  text-align: center;
  border: 0px black;
  background-color: #000;
  color: #fff;
  /* z-index: -1; */
}

#last {
  text-decoration: none;
  margin-top: 2rem;
  font-weight: normal;
  font-size: 1rem;
  /* text-align: center; */
}



#eng {
  display: flex; 
  border: 1px solid #afafaf; 
  height: 1.9rem;
  width: 8rem;
  margin-top: 1rem;
  border-radius: 6px;
}

.material-symbols-outlined {
  color: #fff;
  margin-left: 1rem;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#mrlang {
  font-size: 2rem;
}

@media only screen and (max-width:960px) {
  header {
    min-width: 100vw;
    max-height: 60vh;
  }

  .tv, .strangerthings, .kids {
    display: grid;
    text-align: center;
    max-width: 90vw;

  }
.watcheverywhere {
  text-align: left;
  display: grid;
}
}